/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
* {
  text-decoration: none;
}
nav {
background-color: aliceblue;
display: flex;
width: 100%;
justify-content: space-between;

}
nav a,
nav button {
background-color: aliceblue;
border: none;
color: darkblue;
font-size: 30px;
padding: 20px;
display: flex;
align-items: center;
justify-content: center;
}
.dropdown-content {
display: none;
position: absolute;
}

.dropdown:hover .dropdown-content {
display: flex;
flex-direction: column;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  max-width: 80%;
  width: 80%;
  background-color: #eeeeee;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.small {
  grid-column: span 4;
  background-color: #dafdaf;
}
.medium {
  grid-column: span 8;
  background-color: #daedae;
}
.large {
  grid-column: span 12;
  background-color: #dbfdbd;
}